/* Content */
.login-content {
    max-width: 400px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(210, 199, 199, 0.73);
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
}

.login-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #c7cdd5; /* Text color for login heading */
}

/* Form Inputs and Labels */
.login-content input[type="email"],
.login-content input[type="password"],
.login-content label {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    background-color: #f3f3f3; /* Background color for form fields */
    color: #333; /* Text color for form fields */
}

/* Submit Button */
.login-content input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-content input[type="submit"]:hover {
    background-color: #0056b3;
}
