/* Registration Styles */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Adjust styling as needed */
    z-index: 1000; /* Set a high z-index value to ensure it's always on top */
    padding: 10px 0; /* Adjust padding as needed */
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px; /* Adjust padding as needed */
}

/*header {*/
/*    !* Add appropriate margin to ensure content below navigation *!*/
/*    margin-top: 40px; !* Adjust margin as needed *!*/
/*}*/

.custom-link {
    color: #bedebb;
}

/* Form Container */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Form Heading */
.h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

/* Form Inputs */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  background-color: #413f3f;
  color: #ddd;
}

/* Submit Button */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Error Messages */
.error-message {
  color: #ff4444;
  margin-bottom: 10px;
}
