{% load static %}
<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Project</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/web/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<nav class="navigation">
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        {% if profile %}
            <li><a href="#">Settings</a></li>
            <li><a href="{% url 'profile_details' pk=request.user.pk %}">Profile</a></li>
            <li><a href="{% url 'company_list' pk=request.user.pk %}">Companies</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="{% url 'employees_list' pk=request.user.pk %}">Employees</a></li>
            <li><a href="{% url 'activity_list' pk=request.user.pk %}">Activities</a></li>
            <li><a href="{% url 'logout_user' pk=request.user.pk %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{% url 'login_user' %}">Login</a></li>
            <li><a href="{% url 'register_user' %}">Sign Up</a></li>
        {% endif %}
    </ul>
</nav>
{#<header>#}
{#    <h1>My Site</h1>#}
{#</header>#}

<div class="container">
    {% block content %}
    {% endblock %}
</div>
<footer>
    &copy; 2024 Company Management. All rights reserved.
</footer>
</body>
</html>
