{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list_style.css' %}">
{% endblock %}

{% block content %}
    <h2>Hello {{ profile }}</h2>
    <h3><a href="{% url 'software_create' pk=request.user.pk %}" class="custom-link">Add Software</a></h3>
    <br>

    <div>
        <br>
    </div>

    {% if software_list %}
        <h3>Total Software: {{ software_list.count }}</h3>
        {% for software in software_list %}
            <h4>{{ software.name }}</h4>
            <!-- Include Bootstrap CSS -->

            <!-- Button -->
            <h4><a href="{% url 'software_details' pk=request.user.pk software_id=software.id %}"
                        class="custom-link">Details</a></h4>
        {% endfor %}
    {% else %}
        <h3>You don't have any software yet.</h3>
    {% endif %}

{% endblock %}
