{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list_style.css' %}">
{% endblock %}

{% block content %}
    <h2>Hello {{ profile }}</h2>
    <br>

    <h2>Software</h2>
    <h3>{{ software.name }}</h3>
    <br>
    <h4><a href="{% url 'software_update' software_id=software.id pk=request.user.pk %}"
       class="custom-link">Update Software</a></h4>
    <br>
    <h4><a href="{% url 'software_delete' software_id=software.id pk=request.user.pk %}"
       class="custom-link">Delete Software</a></h4>
    <br>


{% endblock %}
