{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts/profile_details.css' %}">
{% endblock %}

{% block content %}
    <h2>Hello {{ profile }}</h2>
    <br>

    <h2>Company</h2>
    <h3>{{ company.name }}</h3>
    <br>
    <br>
    <h4><a href="{% url 'company_update' pk=request.user.pk company_id=company.id %}"
       class="custom-link">Update Activity</a></h4>
    <br>
    <br>
    <h4><a href="{% url 'company_delete' pk=request.user.pk company_id=company.id %}"
       class="custom-link">Delete Activity</a></h4>
    <br>


{% endblock %}
