{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms/form_style.css' %}">
{% endblock %}

{% block content %}
        <div class="container">
        <h2>Update Procedure</h2>
        <form action="{% url 'update_procedure' pk=request.user.pk procedure_id=procedure.id %}" method="post">
            {{ form.as_p }}
            <button type="submit">Save Changes</button>

            {% csrf_token %}
            </form>
    </div>
{% endblock %}

