{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list_style.css' %}">
{% endblock %}

{% block content %}
    <h2>Hello {{ profile }}</h2>
    <h3><a href="{% url 'process_create' pk=request.user.pk %}" class="custom-link">Create Process</a></h3>
    <br>

    <div>
        <br>
    </div>

    {% if process_list %}
        <h3>Total Processes: {{ process_list.count }}</h3>
        {% for process in process_list %}
            <h4>{{ process }}</h4>
            <!-- Include Bootstrap CSS -->

            <!-- Button -->
            <h4><a href="{% url 'process_details' pk=request.user.pk process_id=process.id %}"
                        class="custom-link">Details</a></h4>
        {% endfor %}
    {% else %}
        <h3>You don't have any processes yet.</h3>
    {% endif %}

{% endblock %}
