{% extends 'base.html' %}


{% block content %}
    <h2>Hello {{ profile }}</h2>
    <h3><a href="{% url 'activity_create' pk=request.user.pk %}">Create an Activity</a></h3>
    <br>

    <div>
        <br>
    </div>

    {% if activity_list %}
        <h3>Activities count: {{ activity_list.count }}</h3>
    {% else %}
        <h3>You don't have any activities yet.</h3>
        <h3><a href="{% url 'activity_create' pk=request.user.pk %}">Create an Activity</a></h3>
    {% endif %}
    
{% endblock %}
