{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/company/create_company.css' %}">
{% endblock %}

{% block content %}
        <div class="form-container">
        <h2>Update Activity</h2>
        <form action="{% url 'activity_update' pk=request.user.pk activity_id=activity.pk %}" method="post">
            {{ form.as_p }}
            <button type="submit">Save Changes</button>

            {% csrf_token %}
            </form>
    </div>
{% endblock %}

